/*Full screen*/
html {
/*margin:0;
padding:0;*/
height:100%;
}

/**,
*:before,
*:after {
	box-sizing: inherit;
}*/

body {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	color: black;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0a1a33+0,6287a2+99 */
	background: #0a1a33; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBhMWEzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzYyODdhMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #0a1a33 0%, #6287a2 100%); /* FF3.6-15 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#0a1a33), color-stop(100%,#6287a2)); /* Chrome4-9,Safari4-5 */
	background: -webkit-linear-gradient(top,  #0a1a33 30%,#6287a2 100%); /* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(top,  #0a1a33 30%,#6287a2 100%); /* Opera 11.10-11.50 */
	background: -ms-linear-gradient(top,  #0a1a33 30%,#6287a2 100%); /* IE10 preview */
	background: linear-gradient(to bottom,  #0a1a33 30%,#6287a2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a1a33', endColorstr='#6287a2',GradientType=0 ); /* IE6-8 */
	background-color: #6287a2;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: /*'Roboto',*/ 'Lato', 'Trebuchet MS', 'sans-serif' !important;
	font-size: 2.5vh;
	overflow: auto;
}

body::-webkit-scrollbar {
	width: .5vw;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}

body::-webkit-scrollbar-thumb {
	background-color: #0a1a33;
	border-radius: 10px;
	outline: 1px solid #6287a2;
}

header {
	display: block;
	box-sizing: inherit;
	position: fixed;
	width: 100%;
	margin: 0 auto;
	/*top: 0 auto;
	left: 0 auto;*/
	color: #fffeab;
	/*background-color: rgb(55,42,64);*/
	background-color: #a8612d;
	font-family: 'Roboto', 'Open Sans', 'Trebuchet MS', sans-serif !important;
	font-size: 18px;
	font-weight: 500;
	padding-left: 2em;
	z-index: 4;
}

a.navifix {
	display: inline-block;
	min-width: 7.25em;
	padding: .25em;
}

a.navifix:hover {
	color: #a8612d;
	background-color: #fffeab;
}

ul.top-navigation {
	list-style-type: none;
	margin-left: -2.8em;
}

ul.top-navigation li {
	display: inline;
	font-size: 18px;
}

ul.top-navigation li :hover :not(a) {
	color: #fffeab;
	background-color: #a8612d;
}

ul.top-navigation li a {
	color: #fffeab;
	text-decoration: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropbtn {
	color: #fffeab;
	background-color: unset;
	font-family: sans-serif;
	font-size: 18px;
	text-align: left;
	border: none;
	cursor: default;
	min-width: 7.25em;
}

.dropdown-content:hover:parent {
	-moz-box-shadow: 0 8px 6px -6px #0a1a33;
	-webkit-box-shadow: 0 8px 6px -6px #0a1a33;
	box-shadow: 0 8px 6px -6px #0a1a33;
}

.dropdown-content {
	display: none;
	position: absolute;
	width: 100%;
	background-color: #a8612d;
	z-index: 1;
}

.dropdown-content a {
	color: #fffeab;
	padding: .25em;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	color: #a8612d;
	background-color: #fffeab;
}

.dropdown:hover .dropdown-content {
	display: block;
	-moz-box-shadow: 0 8px 6px -6px #0a1a33;
	-webkit-box-shadow: 0 8px 6px -6px #0a1a33;
	box-shadow: 0 8px 6px -6px #0a1a33;
}

.content {
	display: block;
	box-sizing: inherit;
	z-index: 2;
	position: inherit;
	top: 30vh;
	left: 15%;
	right: auto;
	width: 60%;
	min-height: calc(100% - 10%);
	margin-bottom: 7.5vh;
	padding: 7.5vh;
	padding-bottom: 10vh;
	overflow: unset;
	background: #fffeab;
	border-radius: 15px;
}

.contentgrid {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: auto auto auto;
	grid-gap: 5%;
	margin-bottom: 5%;
}

.navihoverbox,
.navihoverbox * {
	box-sizing: border-box;
}

.navihoverbox{
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

.navihoverbox img {
	max-width: 100%;
}

.navihoverbox .imagehover {
	display: block;
}

.navihoverbox .navihoverlay {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	/*padding: 5px;*/
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.navihoverbox:hover .navihoverlay,
.navihoverbox.active .navihoverlay {
	opacity: 1;
}

.navihoverbox .navihovertext {
	text-align: center;
	font-size: 1.25rem;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.navihoverbox .navihoverbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.navihoverbox.active .navihoverbox-text_mobile {
	display: block;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 5px;
	max-width: 100%;
	height: auto;
	}

/***Style the unordered list with the class 'enlarge'***/
ul.enlarge{
	list-style-type:none; /*remove the bullet point*/
	text-align: center;
	}
ul.enlarge li{
	display:inline-block; /*places the images in a line*/
	position: relative; /*allows precise positioning of the popup image when used with position:absolute - see support section */
	z-index: 0; /*resets the stack order of the list items - we'll increase in step 4. See support section for more info*/
	margin:35px 50px 35px 45px; /*space between the images*/
	}

ul.enlarge span{
	position:absolute; /*see support section for more info on positioning*/
	left: -9999px; /*moves the span off the page, effectively hidding it from view*/
	}

/***Note: This styling will apply to both the thumbnail and popup image, unless you override these styles in step five***/
ul.enlarge img{
	/*give the thumbnails a frame*/
	background-color:rgb( 168, 97, 45); /*frame colour*/
	padding: 6px; /*frame size*/
	/*and give the corners a small curve*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}

ul.enlarge li:hover{
	z-index: 50; /*places the popups infront of the thumbnails, which we gave a z-index of 0 in step 1*/ 
	cursor:pointer; /*changes the cursor to a hand*/
	}
	/***We bring the large image back onto the page by reducing left from -9999px (set in step 2) to figures below***/ 
ul.enlarge li:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/ 
	top: -200px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
	left: -225px; /*distance from the left of the thumbnail to the left of the popup image*/
	}
	/***To make it look neater we used :nth-child to set a different left distance for each image***/ 
ul.enlarge li:hover:nth-child(2) span{
	left: -200px; 
	}
ul.enlarge li:hover:nth-child(3) span{
	left: -225px; 
	}

/***Override the styling of images set in step 3 to make the frame smaller and the background darker***/
ul.enlarge span img{
	padding: 2px; /*size of the frame*/
	background: #fffeab; /*colour of the frame*/
	}
	/***Style the <span> containing the framed images and the caption***/
ul.enlarge span{
	/**Style the frame**/
	padding: 10px; /*size of the frame*/
	background:rgb( 168, 97, 45); /*colour of the frame*/
	/*add a drop shadow to the frame*/
	-webkit-box-shadow: 0 0 20px rgba(0,0,0, .75));
	-moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
	box-shadow: 0 0 20px rgba(0,0,0, .75);
	/*give the corners a curve*/
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius:8px;
	/**Style the caption**/
	font-family: 'Droid Sans', sans-serif; /*Droid Sans is available from Google fonts*/
	font-size:.9em;
	text-align: center;
	color: #0a1a33;
	}

	footer {
		display: block;
		box-sizing: inherit;
		position: absolute;
		height: auto;
		z-index: 1;
		bottom: 0 auto;
		left: 0;
		right: 0;
		color: #fffeab;
		padding: 1rem;
		font-size: 1.5vh;
		margin-top: 30vh;
	}
	
	header h1 {
		margin-bottom: -2.5vh;
		letter-spacing: 2px;
	}
	
	
	h1 a {
		color: #fffeab;
		font-family: 'roboto', sans-serif;
	}

	h1 a:visited {
		color: #fffeab;
		font-family: 'roboto', sans-serif;
	}

	.info {
		color: #6287a2;
		font-style: italic;
		font-size: 11px;
	}

	.outgoing a {
		color: black;
	}

	.outgoing a:hover{
		color: #6287a2;
	}
	
	h1 a:hover {
		color: #fffeab;
	}
	
	footer a {
		color: #0a1a33;
		text-decoration: underline;
	}
	
	a {color: #a3a3af; text-decoration: none;}
	a:hover {color: #a8612d;}
	a:visited {color: #a3a3af;}

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
	.photoram-column {
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.photoram-column {
	  flex: 100%;
	  max-width: 100%;
	}
  }
